.hidden {
    display: none;
}

h2, h3 {
    color: var(--title-color);
}

.temperature, .humidity, .boolean, .potentiometer, .strategy {
    color: white;
}

#dashboard {
    margin: 0 auto;
    width: 80%;
    color: #acd0f1;
}

.hub {
    padding: .5rem;
    background-color: var(--elevation-1-bg-color);
    border-radius: 5px;
}

.hub button {
    margin-bottom: 1rem;
}

.module {
    padding: .5rem;
    margin: .7rem 0;
    margin-left: 1rem;
    background-color: var(--elevation-2-bg-color);
    border-radius: 5px;
}

.module button {
    margin-bottom: 1rem;
}

.module-content {
    padding-left: 1.2rem;
}

.module-content button {
    background-color: var(--button-2-color);
    padding: .2rem;
    margin-top: .2rem;
    margin-bottom: .5rem;
    border-radius: 5px;
}

.module-content button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

input[type="text"] {
    color: white;
    margin: 0.1rem 0;
    padding: 0.2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--elevation-3-bg-color);
}

button.collapsible {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--title-color);
    width: 100%;
}

.collapsible::before {
    padding: 0 .4rem;
    content: "\f107"; /* FontAwesome unicode for angle-right icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}

.collapsible.active::before {
    content: "\f105"; /* FontAwesome unicode for angle-down icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}


